@using System.Text.Json
@using BoardMaui
@using BoardMaui.Extensions
@using BoardMaui.Models

@inject DatabaseUtility DatabaseUtility
@page "/editdonations"

<style>
    * {
        opacity: 1 !important;
    }
</style>
<form>
    <table class="w-100 body2">
        <tr style="height: 60vmin;">
            <td valign="top" class="rounded-4 shadow content-card">
                <table class="w-100">
                    <tr>
                        <td class="w-33" valign="top">
                            <p class="minititle">
                                <b>עורך תרומות</b>
                            </p>
                            <hr />
                            <table class="m-auto">
                                <tr>
                                    <td class="w-33">שם:</td>
                                    <td class="w-66">
                                        <input type="text" @bind="name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-33">תרומה:</td>
                                    <td class="w-66">
                                        <input type="number" @bind="donation" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-33">שולם:</td>
                                    <td class="w-66">
                                        <input type="number" @bind="paid" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-33">נשאר לתשלום:</td>
                                    <td class="w-66">@(donation - paid)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input value="הוסף" type="reset" @onclick="Add" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="w-66" valign="top">
                            <p class="minititle">
                                <b>רשימה</b>
                            </p>
                            <hr />
                            @foreach (var donation in MauiProgram.Synagogue.Donations ?? Enumerable.Empty<Donation>())
                            {
                                <table>
                                    <tr>
                                        <td width="20%">שם: @donation.Name</td>
                                        <td width="20%">תרומה: @donation.Dontation</td>
                                        <td width="20%">שולם: @donation.Paid</td>
                                        <td width="20%">נשאר לשלם: @(donation.Dontation - donation.Paid)</td>
                                        <td width="20%">
                                            <input value="הסר" type="button" @onclick="async x => await DatabaseUtility.RemoveFromList(MauiProgram.Synagogue.Donations, donation)" />
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

@code {
    string? name;
    int donation = 0;
    int paid = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MauiProgram.CurrentPage = null;
        MauiProgram.Synagogue.Donations ??= new();
    }

    public async Task Add()
    {
        MauiProgram.Synagogue.Donations?.Add(new Donation() { Name = name, Dontation = donation, Paid = paid });
        name = null;
        donation = 0;
        paid = 0;
        await DatabaseUtility.SaveAll();
    }

    public async Task RemoveFromList(int? i)
    {
        if (i.HasValue)
        {
            MauiProgram.Synagogue.Donations?.RemoveAt(i.Value);
            await DatabaseUtility.SaveAll();
        }
    }
}