@using System.Text.Json
@using BoardMaui.Extensions
@using BoardMaui.Models
@inject NavigationManager NavigationManager
@inject AutoNavigation AutoNavigation
@inject DatabaseUtility DatabaseUtility
@page "/events"
<style>
	.title {
		font-size: @((3.75 * FontSize) + "vmin !important");
	}

	.minititle {
		font-size: @((2.75 * FontSize) + "vmin !important");
	}

	.customtext {
		font-size: @((1.75 * FontSize) + "vmin !important");
	}

	.hugetext {
		font-size: @((7.5 * FontSize) + "vmin !important");
	}

	.body > tr > td {
		font-size: @((2.5 * FontSize) + "vmin");
	}

	.body2 > tr > td {
		font-size: @((2.25 * FontSize) + "vmin");
	}

</style>

<table class="w-100 m-auto body2">
	<tr style="height: 60vmin;">
		<td valign="top" class="rounded-4 shadow content-card">
			<p class="minititle">
				<b>אירועים</b>
			</p>
			<hr />
			@foreach (var eventItem in MauiProgram.Synagogue.Events?.Where(e => e.ExpirationDate >= DateOnly.FromDateTime(DateTime.UtcNow)) ?? Enumerable.Empty<Event>())
			{
				<table class="m-0 w-100">
					<tr>
						<td class="w-33 p-0">@eventItem.Title</td>
						<td class="w-33 p-0">@eventItem.Day</td>
						<td class="w-33 p-0">@eventItem.Time</td>
					</tr>
				</table>
				<hr />
			}
		</td>
	</tr>
</table>

@code
{
	public double FontSize = 1 + MauiProgram.Synagogue.Settings.FontSize[nameof(Events)] * 0.1;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		MauiProgram.Synagogue.Events ??= new();
	}
	protected override async Task OnAfterRenderAsync(bool first)
	{
		await base.OnAfterRenderAsync(first);
		if (first)
			await AutoNavigation.AutoNavigateAsync(MauiProgram.Synagogue.Settings.ShowEvents, "events", "/rip");
	}
	

}